.App {
  text-align: center;
}

.bg-purple{
  background-color: #6f42c1;
}

.form-control-nav{
  color: white !important;
}

.form-control-nav::placeholder {
  color: white !important;
}

.form-control:focus{ 
  box-shadow: none !important;
} 

.btn-map{ 
  color: rgb(252, 203, 70);
  background-color: transparent;

}

.btn-map:hover{
  background-color: rgb(252, 203, 70);
  border: rgb(252, 203, 70) 1px;
  color: white;
}
